.tabs {
    min-width: 320px;
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
}

.tabs > section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}

.tabs > section > p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tabs > input {
    display: none;
    position: absolute;
}

.tabs > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}

.tabs > label:before {
    font-family: fontawesome, serif;
    font-weight: normal;
    margin-right: 10px;
}

.tabs > label[for*="1"]:before {
    content: "\f19a";
}

.tabs > label[for*="2"]:before {
    content: "\f17a";
}

.tabs > label[for*="3"]:before {
    content: "\f13b";
}

.tabs > label[for*="4"]:before {
    content: "\f13c";
}

.tabs > label:hover {
    color: #888;
    cursor: pointer;
}

.tabs > input:checked + label {
    color: #555;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}

#tab1:checked ~ #content-tab1, #tab2:checked ~ #content-tab2, #tab3:checked ~ #content-tab3, #tab4:checked ~ #content-tab4 {
    display: block;
}

@media screen and (max-width: 680px) {
    .tabs > label {
        font-size: 0;
    }

    .tabs > label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .tabs > label {
        padding: 15px;
    }
}

.great_btn {
    background: linear-gradient(to bottom, #0bc408 0%, #09a206 100%);
    color: #fff;
    font-size: 16px;
    text-shadow: 0 1px 0 #757575;
    padding: 4px 0 5px 0;
    margin: 0;
    cursor: pointer;
    border: 1px solid #0e780c;
    border-top-color: #87c286;
    box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
    width: 150px;
    border-radius: 2px;
}

.panel-content {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
}